@charset "EUC-KR";

.row {
	text-align: center;
}

.refrigerator_area {
	border: solid 2px black;
	text-align: justify;
	overflow: scroll;
	display: inline-block;
	vertical-align: top;
/* 	margin: 0.5%; */
}
